{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
	<div class="container-fluid">
		<div class="row" id="navbar">
			<div class="brand-name"><img src="{% static 'images/index/navbrand.png' %}"></div>
			<div class="navbar">
				<ul>
					<li><a href="{% url 'index' %}" class="active">HOME</a></li>
					<li><a href="{% url 'product' %}">PRODUCTS</a></li>
					
					<li><a href="{% url 'contact' %}">CONTACTS US</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<!-- home -->
<section id="home">
	<div class="container">
		<div class="row full-screen">
			<div class="home-content">
				<div class="block">
					<h1>Welcome!</h1>
					<h1>JD Myanmar Timber Land</h1>
					<h2>40 years ! ! !</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- home -->

<section class="producttable" id="producttableid">
	<div class="container">
		<div class="row col-md-12">
			<div class="productdetail">
			<h1>Our Products</h1>
			<p>
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
			</div>
		</div>
		<div class="row teak-table">
			<div class="teak-logs">
				<h1>TEAK LOGS</h1>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-11">
				<div class="card">
				  <div class="card-body">
				    <table class="table table-hover">
					  <thead>
					    <tr class="bg-success">
					      <th scope="col">#</th>
					      <th scope="col">First</th>
					      <th scope="col">Last</th>
					      <th scope="col">Handle</th>
					      <th scope="col">Handle</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					      <td>@mdo</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@mdo</td>
					      <td>@fat</td>
					     
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry the Bird</td>
					      <td>@twitter</td>
					      <td>@mdo</td>
					      <td>@mdo</td>

					    </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			</div>
		</div>
		<br>
		<div class="row teak-table">
			<div class="teak-logs">
				<h1>Wood Veneer</h1>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-11">
				<div class="card">
				  <div class="card-body">
				    <table class="table table-hover">
					  <thead>
					    <tr class="bg-success">
					      <th scope="col">#</th>
					      <th scope="col">First</th>
					      <th scope="col">Last</th>
					      <th scope="col">Handle</th>
					      <th scope="col">Handle</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					      <td>@mdo</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@mdo</td>
					      <td>@fat</td>
					     
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry the Bird</td>
					      <td>@twitter</td>
					      <td>@mdo</td>
					      <td>@mdo</td>

					    </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			</div>
		</div>
		<br>
		<div class="row teak-table">
			<div class="teak-logs">
				<h1>Finger Joint</h1>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-11">
				<div class="card">
				  <div class="card-body">
				    <table class="table table-hover">
					  <thead>
					    <tr class="bg-success">
					      <th scope="col">#</th>
					      <th scope="col">First</th>
					      <th scope="col">Last</th>
					      <th scope="col">Handle</th>
					      <th scope="col">Handle</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					      <td>@mdo</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@mdo</td>
					      <td>@fat</td>
					     
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry the Bird</td>
					      <td>@twitter</td>
					      <td>@mdo</td>
					      <td>@mdo</td>

					    </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
<br><br>

<!-- Footer Partnership -->
<section class="partnership">
	
	<div class="container-fluid">
		<div class="row">
			<div class="address col-md-3">
				<h2>JD Myanmar TimberLand</h2>
				<h4>Min Dahma Street,</h4>
				<h4>Hlaing Township,Yangon,</h4>
				<h4>Myanmar</h4>
			</div>
			<div class="mailbox col-md-3">
				<h4>Email : abcdef@gmail.com</h4>
				<h4>Phone : +95 9-3453-2345-34</h4>
			</div>
			<div class="partnerimg col-md-6">
				<img src="{% static 'images/index/partnership.png' %}">
			</div>
		</div>
	</div>
</section>
<!-- Footer Partnership -->














<style type="text/css">
	#home{
		background-image: url({% static 'images/index/productsheader.jpeg' %});
		background-size: cover;
		min-height: 100vh;
		background-position: center;
		
	}
</style>

{% endblock %}